<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>LOG IN</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
      .error-message {
          color: red;
          font-weight: bold;
          margin-top: 10px;
          background-color: #f8d7da;
          border: 1px solid #f5c6cb;
          padding: 10px;
          border-radius: 5px;
      }
      </style>
  </head>

  <body>
    <header>
      <h1></h1>
    </header>
    {% if error_message %}
    <p class="error-message">{{ error_message }}</p>
    {% endif %}
    <div class="container"></div>
    
    <section class="container block" style="position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%)">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div
          class="col-10 col-md-8 col-lg-6 col-xl-4 bg-light opacity-50 p-4 rounded-1"
        >
        {% if user.is_authenticated %}
        <div class="text-center mt-5">
          <h1>Već ste ulogovani!</h1>
          <a
            href="{% url 'reservation-home' %}"
            class="nav-link"
            data-bs-toggle="tab"
            >Home</a>
        {% else %}
          <form id="login"  method="POST">
            {% csrf_token %}
            <h1>Login</h1>
            <p>Stranica za logovanje</p>
            <div class="msg"></div>
            <div class="mb-3">
              <label for="username" class="form-label">Username:</label>
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="Username..."
                name="username" 
                required
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password..."
                name="password" 
                required
              />
            </div>
            <button
              class="btn btn-primary w-100"
              type = "submit"
            >
              Login
          </button>
            <br><strong>Niste registrovani?</strong></br>
            <a href = "{% url 'register' %}">Register</a>
          </form>
          {% endif %}
        </div>
      </div>
    </section>
    <script></script>
  </body>
</html>
