<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bukiranje sale</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
      .error-message {
        color: red;
        font-size: 20px;
        font-weight: bold;
        }
    </style>
  </head>
  <body>
    <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <ul class="nav nav-tabs" id="navId" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  data-bs-toggle="tab"
                  aria-current="page"
                  >Navbar</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  href="{% url 'reservation-home' %}"
                  class="nav-link"
                  data-bs-toggle="tab"
                  >Home</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <div class="col-md-8 offset-md-2 text-center">
              <h2 class="text-primary">Rezervacija sale</h2>
              <p class="mb-5">Rezervacija sale</p>
            </div>
          </div>
        </div>
        <div class="form-group">
        <form id="myForm" role="form" method="POST" >
          {% csrf_token %}
          {% comment %} {{ form.as_p }} {% endcomment %}
          {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}<br>
            {{ field }}
          {% for error in field.errors %}
            	<span class="error-message">{{ error }}</span><br>
          {% endfor %}
          </div>
          {% endfor %}

      <!-- Render non-field errors -->
          {% for error in form.non_field_errors %}
          <h2 class="error-message">{{ error }}</h2>
          {% endfor %}
          <button
            type="submit"
            class="btn btn-primary float-right mt-3"
            id="button_2"
          >
            Rezervisi
          </button>
          <div id="loader" class="loader" style="display: none">Loading...</div>
          <div id="content"></div>
        </form>
      </div>
      </div>
    </section>
    <script></script>
  </body>
</html>
